image: maven:3.9.9-eclipse-temurin-17

stages:
  - install
  - build
  - test
  - debug
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  APP_NAME: mechyam-backend
  DEPLOY_PATH: /opt/mechyam

cache:
  key: maven-cache
  paths:
    - .m2/repository

before_script:
  - java -version
  - mvn -version

# ------------------------
# INSTALL STAGE
# ------------------------
install-dependencies:
  stage: install
  script:
    - mvn clean install -DskipTests
  artifacts:
    paths:
      - target/*.jar
    expire_in: 1 week
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

# ------------------------
# BUILD STAGE
# ------------------------
build-backend:
  stage: build
  script:
    - mvn package -DskipTests
  artifacts:
    paths:
      - target/*.jar
    expire_in: 1 week
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

# ------------------------
# TEST STAGE
# ------------------------
test-backend:
  stage: test
  script:
    - mvn test
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

# ------------------------
# DEBUG STAGE
# ------------------------
debug-env:
  stage: debug
  script:
    - echo "======= CI VARIABLES ======="
    - printenv | sort
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'


# ------------------------
# DEPLOY STAGE (SSH)
# ------------------------
deploy-backend:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $SERVER_IP >> ~/.ssh/known_hosts
  script:
    - scp target/*.jar $SSH_USER@$SERVER_IP:$DEPLOY_PATH/$APP_NAME.jar
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
