name: Trigger GitLab CI

on:
  push:
    branches:
      - main  # Trigger only on pushes to main

jobs:
  trigger-gitlab:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitLab Pipeline
        uses: appleboy/gitlab-ci-action@master
        with:
          url: "https://gitlab.com" # Use your self-managed URL if applicable
          project_id: ${{ secrets.GITLAB_PROJECT_ID }}
          token: ${{ secrets.GITLAB_TRIGGER_TOKEN }}
          ref: "main" # The GitLab branch you want to run the pipeline on
