name: Trigger GitLab CI

on:
  push:
    branches:
      - main

jobs:
  trigger-gitlab:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitLab Pipeline
        uses: appleboy/gitlab-ci-action@master
        with:
          # Change 'url' to 'host'
          host: "https://gitlab.com" 
          # Ensure these secrets are correctly set in GitHub Settings
          project_id: ${{ secrets.GITLAB_PROJECT_ID }}
          token: ${{ secrets.GITLAB_TRIGGER_TOKEN }}
          ref: "main"

