name: Trigger GitLab CI

on:
  push:
    branches:
      - main

jobs:
  trigger-gitlab:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitLab CI via cURL
        run: |
          curl --request POST \
            --form token="${{ secrets.GITLAB_TRIGGER_TOKEN }}" \
            --form ref="main" \
            "https://gitlab.com{{ secrets.GITLAB_PROJECT_ID }}/trigger/pipeline"
        

